$blue-color: teal;

.red-background {
    background-color: $blue-color;
    color: white;
    padding-left: 10px;
}

img {
    display: block;   
}

h2 {
    margin: 0;
    margin-left: 170px;
}

#imgContainer {
    padding-left: 10px;
    background-image: url('./content/banner.jpg');
}